* {
  margin: 0; 
  padding: 0;   
  box-sizing: content-box;   
}

h1 {
    margin-bottom: 50px;
    color: rgb(58, 57, 57);
    font-size: 75px;
    text-align: center;
}

.email-senha {
    border: solid 1px rgb(37, 37, 37);
    width: 50%;
    margin: 0 auto;
}

.caixa-login {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    font-size: 30px;
    line-height: 1.3;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.caixa-login input {
    line-height: 40px;
    font-size: 30px;
    width: 50%;
    
}

.caixa-login button {
    line-height: 40px;
    font-size: 30px;
    width: 50%;
    background-color: aqua;
    border: solid 1px black;
}

.caixa-login button:hover {
    background-color: rgb(1, 177, 177);
    cursor: pointer;
}