* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vh;
  margin-bottom: 30px;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  font-size: 2vh;
  display:flex;
  flex-direction: column;
  align-items: center;  

  border: 1px solid black;
  border-radius: 15px;
  margin: 15px;
  width: 30vh;
  
}

.pokemon-card>img {
  width: 60%;
}

.pokemon-card>h3 {
  width:100%;
  background-color: #ccc;
  padding: 10px;
}

@media (max-width: 500px) { 
  .pokemon-card {
    width:100%;
    font-size: 3vh;
  }
}

@media (min-width: 500px) { 
  .pokemon-card {
    width:45%;
    font-size: 4vh;
  }
}